<div class="theme-calculator">

  <div class="theme-display">
    <span>{{totalValue}}</span> {{mathematicalSymbol}} {{inputValues}}
  </div>
  <div class="button-container">
    <button {{action "clear"}}>C</button>
  </div> 


  <div class="button-container">
    <button {{action "setInputValue" "7"}}>7</button>
    <button {{action "setInputValue" "8"}}>8</button>
    <button {{action "setInputValue" "9"}}>9</button>
    <button {{action "applyOperator" "*"}}>*</button>
  </div>

  <div class="button-container">
    <button {{action "setInputValue" "4"}}>4</button>
    <button {{action "setInputValue" "5"}}>5</button>
    <button {{action "setInputValue" "6"}}>6</button>
    <button {{action "applyOperator" "/"}}>/</button>
  </div>

  <div class="button-container">
    <button {{action "setInputValue" "1"}}>1</button>
    <button {{action "setInputValue" "2"}}>2</button>
    <button {{action "setInputValue" "3"}}>3</button>
    <button {{action "applyOperator" "+"}}>+</button>
  </div>

  <div class="button-container">
    <button {{action "setInputValue" "0"}}>0</button>
    <button {{action "setInputValue" "."}}>.</button>
    <button {{action "equals" "="}}>=</button>
    <button {{action "applyOperator" "-"}}>-</button>
  </div>
</div>