<div class="theme-calculator">

  <div class="theme-display">
    <span>{{totalValue}}</span> {{mathematicalSymbol}} {{inputValues}}
  </div>
  
<div id="keys" horizontal layout>
  <div class="paper-button-numbers" flex vertical layout>
    <paper-button flex vertical layout{{action "setInputValue" "7"}}>7</paper-button>
    <paper-button flex vertical layout{{action "setInputValue" "4"}}>4</paper-button>
    <paper-button flex vertical layout{{action "setInputValue" "1"}}>1</paper-button>
    <paper-button flex vertical layout{{action "setInputValue" "."}}>.</paper-button>
  </div>

  <div class="paper-button-numbers" flex vertical layout>
    <paper-button flex vertical layout{{action "setInputValue" "8"}}>8</paper-button>
    <paper-button flex vertical layout{{action "setInputValue" "5"}}>5</paper-button>
    <paper-button flex vertical layout{{action "setInputValue" "2"}}>2</paper-button>
    <paper-button flex vertical layout{{action "setInputValue" "0"}}>0</paper-button>
  </div>

  <div class="paper-button-numbers" flex vertical layout>
    <paper-button flex vertical layout{{action "setInputValue" "9"}}>9</paper-button>
    <paper-button flex vertical layout{{action "setInputValue" "6"}}>6</paper-button>
    <paper-button flex vertical layout{{action "setInputValue" "3"}}>3</paper-button>
    <paper-button flex vertical layout{{action "equals" "="}}>=</paper-button>
  </div>

  <div class="paper-button-operands" flex vertical layout>
    <paper-button {{action "clear"}}>C</paper-button>
    <paper-button {{action "applyOperator" "+"}}>+</paper-button>
    <paper-button {{action "applyOperator" "-"}}>-</paper-button>
    <paper-button {{action "applyOperator" "/"}}>/</paper-button>
    <paper-button {{action "applyOperator" "*"}}>*</paper-button>
  </div>
</div>
</div>
